@model HUKUK_PROJE.Entities.Area

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <br />
    @await Component.InvokeAsync("_HeadPartials")
    <br />
    <br />
</head>
<body>
    @await Component.InvokeAsync("_HeaderPartials")

    <section class="sample-text-area">
        <div class="container box_1170">
            <h3 class="text-heading">@Model.LawTypes?.Type</h3>
            <img src="@Model.ImageUrl" alt="" style="max-width: 100%; height: auto;" />
            <div class="sample-text">
                @Html.Raw(Model.Description)
            </div>
        </div>
    </section>


    @await Component.InvokeAsync("_FooterPartials")
    @await Component.InvokeAsync("_ScriptPartials")
</body>
</html>
