<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <br />
        <li class="nav-item">
            <a class="nav-link" href="/Default/Index/">
                <span class="icon-bg">
                    <i class="mdi mdi-airplane menu-icon"></i>
                </span>
                <span class="menu-title">Siteye Git</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/DashBoard/Index/">
                <span class="icon-bg"><i class="mdi mdi-cube menu-icon"></i></span>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/PracticeArea/Index/">
                <span class="icon-bg"><i class="mdi mdi-account-box menu-icon"></i></span>
                <span class="menu-title">Hizmetler</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/About/Index/">
                <span class="icon-bg">
                    <i class="mdi mdi-harddisk menu-icon"></i>
                </span>
                <span class="menu-title">Hakkımızda</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Banner/Index/">
                <span class="icon-bg">
                    <i class="mdi mdi-bank menu-icon"></i>
                </span>
                <span class="menu-title">Afiş</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Message/Index/">
                <span class="icon-bg">
                    <i class="mdi mdi-message-text menu-icon"></i>
                </span>
                <span class="menu-title">Randevular</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/LawTypes/Index/">
                <span class="icon-bg">
                    <i class="mdi mdi-console menu-icon"></i>
                </span>
                <span class="menu-title">Hukuk Türleri</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Employee/Index/">
                <span class="icon-bg">
                    <i class="mdi mdi-comment-account menu-icon"></i>
                </span>
                <span class="menu-title">Çalışanlarımız</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/BlogAdmin/Index/">
                <span class="icon-bg">
                    <i class="mdi mdi-barley menu-icon"></i>
                </span>
                <span class="menu-title">Blog</span>
            </a>
        </li>

        <li class="nav-item sidebar-user-actions">
            <div class="sidebar-user-menu">
                <a href="#" class="nav-link">
                    <i class="mdi mdi-settings menu-icon"></i>
                    <span class="menu-title">Ayarlar</span>
                </a>
            </div>
        </li>
        <li class="nav-item sidebar-user-actions">
            <div class="sidebar-user-menu">
                <a href="#" class="nav-link">
                    <i class="mdi mdi-speedometer menu-icon"></i>
                    <span class="menu-title">Take Tour</span>
                </a>
            </div>
        </li>
        <li class="nav-item sidebar-user-actions">
            <div class="sidebar-user-menu">
                <form asp-controller="Login" asp-action="Logout" method="post" id="logoutForm">
                    <button type="button" class="nav-link" style="background:none; border:none; padding:0; color:inherit;" onclick="confirmLogout()">
                        <i class="mdi mdi-logout menu-icon"></i>
                        <span class="menu-title">Log Out</span>
                    </button>
                </form>
            </div>
        </li>

    </ul>
</nav>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    function confirmLogout() {
        Swal.fire({
            title: 'Çıkış yapmak istediğinize emin misiniz?',
            text: "Bunu geri alamazsınız!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Evet, çıkış yap!',
            cancelButtonText: 'Hayır, iptal et'
        }).then((result) => {
            if (result.isConfirmed) {
                // Formu gönder
                document.getElementById('logoutForm').submit();
            }
        });
    }
</script>

