<div class="about_area">
    <div class="opacity_icon d-none d-lg-block">
        <i class="flaticon-balance"></i>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-md-6">
                <div class="single_about_info text-center">
                    <div class="about_thumb">
                        <img src="~/lawyer-master/img/about/1.png" alt="">
                    </div>
                    <h3>
                        Finest And Strongest Law <br>
                        Firm Win The World
                    </h3>
                    <p>
                        There are many variations of passages of Lorem Ipsum <br> available, but the majority have
                        suffered alteration in <br> some form, by injected humour, or randomised words <br> which
                        don't look even slightly believable.
                    </p>
                    <div class="signature">
                        <img src="~/lawyer-master/img/about/signature.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-md-6">
                <div class="single_about_info text-center">
                    <div class="about_thumb">
                        <div class="image_hover">
                            <div class="hover_inner">
                                <h2>93%</h2>
                                <span>Success Case</span>
                            </div>
                        </div>
                    </div>
                    <h3>About Lawyer Justice</h3>
                    <p>
                        There are many variations of passages of Lorem Ipsum <br> available, but the majority have
                        suffered alteration in <br> some form, by injected humour, or randomised words <br> which
                        don't look even slightly believable.
                    </p>
                    <div class="total_cases">
                        <div class="single_cases">
                            <h4>879</h4>
                            <p>Total Cases</p>
                        </div>
                        <div class="single_cases">
                            <h4>787</h4>
                            <p>Case Won</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>