@model List<PracticeArea>
<div class="practice_area">
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title text-center mb-60">
                    <h3>Hizmetlerimiz</h3>
                </div>
            </div>
        </div>
        <div class="row no-gutters">
            @foreach (var item in Model)
            {
                <div class="col-xl-3 col-md-6">
                    <div class="single_practice">
                        <div class="practice_image">
                            <img src="@item.ImageUrl" alt="">
                        </div>
                        <div class="practice_hover text-center">
                            <div class="hover_inner">
                                <i class="@item.Icon"></i>
                                <h3>@item.Title</h3>
                                <p>
                                    @item.Description
                                </p>
                                <a href="#" class="lern_more">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>