<div class="practice_area">
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title text-center mb-60">
                    <h3>Practice Area</h3>
                    <p>Many variations of passages of Lorem Ipsum available, but the majority have <br> suffered alteration in some.</p>
                </div>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-xl-3 col-md-6">
                <div class="single_practice">
                    <div class="practice_image">
                        <img src="~/lawyer-master/img/practice/1.png" alt="">
                    </div>
                    <div class="practice_hover text-center">
                        <div class="hover_inner">
                            <i class="flaticon-case"></i>
                            <h3>Business Law</h3>
                            <p>
                                There are many variations of passages of <br> Lorem Ipsum available, <br> but the
                                majority have suffered
                            </p>
                            <a href="#" class="lern_more">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="single_practice">
                    <div class="practice_image">
                        <img src="~/lawyer-master/img/practice/2.png" alt="">
                    </div>
                    <div class="practice_hover text-center">
                        <div class="hover_inner">
                            <i class="flaticon-courthouse"></i>
                            <h3>Finance Law</h3>
                            <p>
                                There are many variations of passages of <br> Lorem Ipsum available, <br> but the
                                majority have suffered
                            </p>
                            <a href="#" class="lern_more">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="single_practice">
                    <div class="practice_image">
                        <img src="~/lawyer-master/img/practice/3.png" alt="">
                    </div>
                    <div class="practice_hover text-center">
                        <div class="hover_inner">
                            <i class="flaticon-judge"></i>
                            <h3>Family Law</h3>
                            <p>
                                There are many variations of passages of <br> Lorem Ipsum available, <br> but the
                                majority have suffered
                            </p>
                            <a href="#" class="lern_more">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="single_practice">
                    <div class="practice_image">
                        <img src="~/lawyer-master/img/practice/4.png" alt="">
                    </div>
                    <div class="practice_hover text-center">
                        <div class="hover_inner">
                            <i class="flaticon-jury"></i>
                            <h3>Education Law</h3>
                            <p>
                                There are many variations of passages of <br> Lorem Ipsum available, <br> but the
                                majority have suffered
                            </p>
                            <a href="#" class="lern_more">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>