@model List<Service>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Admin/Index.cshtml";
}


<!-- SweetAlert -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h4 class="card-title">Çalışanlar</h4>

            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th>#</th>
                            <th>Title</th>
                            <th>Açıklama</th>
                            <th>Güncelle</th>
                            <th>Sil</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.ServiceID</td>
                                <td>@item.Title</td>
                                <td>@item.Description</td>
                                <td>
                                    <a href="/Service/Update/@item.ServiceID" class="btn btn-success">Güncelle</a>
                                </td>
                                <td>
                                    <button class="btn btn-danger" onclick="confirmDelete(@item.ServiceID)">Sil</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <br />
                <a href="/Service/CreateEmploye/" class="btn btn-primary">Yeni Hizmet Girişi</a>
            </div>
        </div>
    </div>
</div>

<script>
    function confirmDelete(employeeId) {
        Swal.fire({
            title: "Emin misiniz?",
            text: "Bu işlemi geri alamazsınız!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#d33",
            cancelButtonColor: "#3085d6",
            confirmButtonText: "Evet, sil!",
            cancelButtonText: "Hayır, iptal et"
        }).then((result) => {
            if (result.isConfirmed) {
                fetch(`/Service/Delete/${serviceId}`, {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    }
                }).then(response => {
                    if (response.ok) {
                        Swal.fire("Silindi!", "Kayıt başarıyla silindi.", "success").then(() => {
                            location.reload();
                        });
                    } else {
                        Swal.fire("Hata!", "Kayıt silinemedi.", "error");
                    }
                });
            }
        });
    }
</script>


