<script src="~/lawyer-master/js/vendor/modernizr-3.5.0.min.js"></script>
<script src="~/lawyer-master/js/vendor/jquery-1.12.4.min.js"></script>
<script src="~/lawyer-master/js/popper.min.js"></script>
<script src="~/lawyer-master/js/bootstrap.min.js"></script>
<script src="~/lawyer-master/js/owl.carousel.min.js"></script>
<script src="~/lawyer-master/js/isotope.pkgd.min.js"></script>
<script src="~/lawyer-master/js/ajax-form.js"></script>
<script src="~/lawyer-master/js/waypoints.min.js"></script>
<script src="~/lawyer-master/js/jquery.counterup.min.js"></script>
<script src="~/lawyer-master/js/imagesloaded.pkgd.min.js"></script>
<script src="~/lawyer-master/js/scrollIt.js"></script>
<script src="~/lawyer-master/js/jquery.scrollUp.min.js"></script>
<script src="~/lawyer-master/js/wow.min.js"></script>
<script src="~/lawyer-master/js/nice-select.min.js"></script>
<script src="~/lawyer-master/js/gijgo.min.js"></script>
<script src="~/lawyer-master/js/jquery.slicknav.min.js"></script>
<script src="~/lawyer-master/js/jquery.magnific-popup.min.js"></script>
<script src="~/lawyer-master/js/plugins.js"></script>

<!--contact js-->
<script src="~/lawyer-master/js/contact.js"></script>
<script src="~/lawyer-master/js/jquery.ajaxchimp.min.js"></script>
<script src="~/lawyer-master/js/jquery.form.js"></script>
<script src="~/lawyer-master/js/jquery.validate.min.js"></script>
<script src="~/lawyer-master/js/mail-script.js"></script>

<script src="~/lawyer-master/js/main.js"></script>

<script>
       $('#datepicker').datepicker({
           iconsLibrary: 'fontawesome',
           // disableDaysOfWeek: [0, 0],
       //     icons: {
       //      rightIcon: '<span class="fa fa-caret-down"></span>'
       //  }
       });
       $('#datepicker2').datepicker({
           iconsLibrary: 'fontawesome',
           icons: {
            rightIcon: '<span class="fa fa-caret-down"></span>'
        }

       });
       var timepicker = $('#timepicker').timepicker({
        format: 'HH.MM'
    });
</script>