@model LoginViewModel

@{
    Layout = null;
}


<form method="post">
    <input asp-for="Username" placeholder="Kullanıcı Adı" />
    <input asp-for="Password" placeholder="Şifre" type="password" />
    <button type="submit">Giriş</button>
</form>
>
