@{
    ViewData["Title"] = "Index";
    Layout = null;

}


<!DOCTYPE html>
<html lang="tr">
    <head>
    @await Component.InvokeAsync("_HeadPartials")
    </head>
    <body>
        <br />
    @await Component.InvokeAsync("_HeaderPartials")
    @await Component.InvokeAsync("_ServicePartials")
    </body>
    @await Component.InvokeAsync("_FooterPartials")
</html>

